login username: {{ data["creds"]["username"] }}
login password: {{ data["creds"]["password"] }}
enable password: {{ data["creds"]["password"] }}

domain name: {{ data["domain_name"] }}
dmvpn target: {{ data["dmvpn_target"] }}

{% set tel = data["telephony_prefix"] -%}
3-digit telephony prefix: {{ tel }}
-------------------------------
tui = {{ tel }}00
ward hunt = {{ tel }}01
admin hunt = {{ tel }}02
hunt range = {{ tel }}03 - {{ tel }}09
audio page = {{ tel }}10
autoreg range = {{ tel }}11 - {{ tel }}49
conf phone = {{ tel }}50
admin phone = {{ tel }}51 - {{ tel }}60
manual range = {{ tel }}61 - {{ tel }}99

Subnets:
{% for name, prefix in data["subnets"].items() -%}
- {{ name }}: {{ prefix }}
{% endfor %}

{% for device, addrs in data["addr"].items() -%}
Addressing on {{ device }}:
{% for intf, ip in addrs.items() -%}
- {{ intf }}: {{ ip }}
{% endfor %}
{% endfor %}

WLANs (SSID and PSK):
{% for name, wlan in data["wlan"].items() -%}
- {{ name }}: {{ wlan["ssid"] }} / {{ wlan["psk"] }}
{% endfor %}
